VITE_SUPABASE_URL=https://fzsnvpoqpyzjrualvjmd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ6c252cG9xcHl6anJ1YWx2am1kIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU1MTQ3MjMsImV4cCI6MjEwMTA5MDcyM30.6d0Tk-pNwh14_zp0wLopcHqwnm_F4BWUqkh0_1RbkMI
